<div class="banner profile notebooks">
  <div class="container">
    <h2><%=t 'edit_notebook', :notebook => @notebook.name %></h2>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>
<section class="pr_dash">
<%= render 'form' %>

<%= link_to t(:back), notebooks_path %>
</section>