<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Studyers, <%= @user %></h1>
    <p>
      You can now start creating lesson notes at:<br />
      http://www.studyers.com
    </p>
    <p>
      Studyers is a tool to help you take notes easily and share your lesson notes with friends. <br />
      Studyers is a work in progress, we hope to make it better with your help.<br />
      Before you start using Studyers, please view the Studyers introduction video: http://vimeo.com/34774882 <br />
      (this will give you an idea about Studyers and how to take lesson notes.)
    </p>
    <p>
      A few technical issues: <br />
      1) Studyers work on modern browsers only (Chrome, Safari, Firefox & Explorer 9). <br />
      2) If you encounter a bug or you wish to request a feature, please report it at: alpha@studyers.com
    </p>
    <p>
      your username is: <%= @mail %>.<br/>
    </p>
    <p>
      If you forgot your password, you can reset it here: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Shlomi & Studyers team</p>
  </body>
</html>