<div id="upload-class_resource">
<h1>New lesson presentation</h1>
<div>
  We currently support only pdf files.<br />
  Please save your powerpoint as pdf (built-in in Microsoft Office and Libre Office). </br>
  Click below to upload your presentation.
</div>
<%= render 'form' %>
</div>

