<div id="upload-class_resource" class="block-message side-message info">
  <a class="close" href="#">×</a>
  <h1>New lesson presentation</h1>
  <div class="new">
    <span id="new">*NEW</span> You can now upload, powerpoint (ppt, pptx) presentations, as well as pdf presentations.
    <br /><span id="note">we prefer pdf as they are lighter to process.</span>
  </div>
  
  <%= render 'form' %>
</div>

