<script>
$(document).ready(function() {
  window.parent.exposeImages($("#resource_id").text());
});
</script>
<p id="notice"><%= notice %></p>
<div id="resource_id" style="display:none;"><%= @class_resource.id %></div>

<div class="file-link"><%= link_to "file", @class_resource.presentation.url %></div>
<ul class="images media-grid" id="resource-images">
  <% Dir["public/" + @class_resource.presentation.store_dir + "/*.png"].each do |image| %>
    <% #Bad way to display - need to fix... %>
    <li><a href="#" class="one-slide"><%= image_tag(image[6..-1], :size => "346x346") %></a></li>
  <% end %>
</ul>

