
  <div id="notebooks">
    <% @notebooks.each do |notebook| %>
      <div class="notebook">
        <h4>
          <%= link_to notebook.name, notebook_lessons_path(notebook), :class => "lesson-title" %>
        </h4>
        <div class="notebook-lessons">
          <% @lessons = notebook.lessons.limit(3).order("updated_at DESC") %>
          <% if @lessons.size > 0 %>
            <ul class="lessons">
              <% @lessons.each do |lesson| %>
                <li class="lesson"><%= link_to lesson.title, notebook_lesson_path(notebook, lesson) %> </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <%= link_to "+ Create a new lesson", new_notebook_lesson_path(notebook), :class => "new-lesson btn info" %>
      </div>
    <% end %>  
  </div>