<h1>Editing user</h1>

<%= render 'form' %>

<p>We use <a href="http://en.gravatar.com/">Gravatar</a> to manage profile images.<br />
To add / edit your profile image <a href="http://en.gravatar.com/site/login/" class="btn" target="gravatar">click here</a></p>

<%= link_to 'My profile', @user %> 
