<div class="banner profile">
  <div class="container">
    <h2>List of Studyers</h2>
  </div>
</div>
<div id="profile" class="container">
  <p id="notice"><%= notice %></p>
  <%= render 'layouts/profile' %>
  <section class="pr_dash">
    <h3>Who to follow</h3>
    <ul class="all-user">
      <% @users.each do |similar| %>
        <% @person = "#{t(:studyer_at)}: #{similar.study_at} <br /> #{t(:Major)}: #{similar.major}" %>
        <li><%= link_to (gravatar_for similar, :size => 40), similar, :"data-title" => similar.name, :"data-content" => @person , :class => "similar" %></li>
      <% end %>
    </ul>
    <div class="explain">(<%=t :following_coming_soon %>)</div>
  </section>
  
  
    
