<div class="container">
  <div class="hero-unit">
    <h1>Welcome to Studyers</h1>
    <img class="image" src="/images/Fotolia_23624870_S.jpg" width="400" />
    <div>We currently have <%= @users_count %> users, who took <%= @lessons_count %> lessons in <%= @notebooks_count %> notebooks and shared them <%= @share_count %> times </div>
  </div>
</div>

