<div id="home-wrapper">
    <div class="first-paragraph">
      <img class="image" src="/images/Fotolia_23624870_S.jpg" />
      <div>Save all your notes in a central place, safe and always available.</div>
    </div>
    <div class="second-paragraph">
      <img class="image" src="/images/Fotolia_18069686_S.jpg" />
      <div>Collaborate and share knowledge with students from your class and from all over the world.</div>
    </div>
    <div class="third-paragraph">
      <img class="image" src="/images/Fotolia_12803290_S.jpg" />
      <div>Help you stay focused during lessons</div>
    </div>
    <div class="fourth-paragraph">
      <img class="image" src="/images/Fotolia_24835805_S.jpg" />
      <div>So all you need to carry with you to class, is an apple (or any other laptop ;).</div>
    </div>
</div>
