<div id="home-wrapper">
  <div id="cycle">
    <div class="paragraph">
      <img class="image" src="/images/Fotolia_23624870_S.jpg" />
      <div class="text">Save all your notes in a central place, safe and always available.</div>
    </div>
    <div class="paragraph">
      <img class="image" src="/images/Fotolia_18069686_S.jpg" />
      <div class="text">Collaborate and share knowledge with students from your class and from all over the world.</div>
    </div>
    <div class="paragraph">
      <img class="image" src="/images/Fotolia_12803290_S.jpg" />
      <div class="text">Help you stay focused during lessons</div>
    </div>
    <div class="paragraph">
      <img class="image" src="/images/Fotolia_24835805_S.jpg" />
      <div class="text">So all you need to carry with you to class, is an apple (or any other laptop ;).</div>
    </div>
  </div>
</div>
