<div class="lesson-field">
  <%= link_to_function "remove", "remove_fields(this)" %>
  <%= f.text_area :content, :class => "content-container" %>
  <%= f.hidden_field :type %>      
  <%= f.hidden_field :_destroy, :class => "dum" %>
</div>