<div class="banner lessons notebooks">
  <div class="container">
    <h2>Create a new lesson</h2>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>
<%= render 'layouts/profile-mini' %>
<div class="lessons_dash edit-lesson">
  <%= render 'form' %>
</div>

