<div class="banner profile notebooks">
  <div class="container">
    <h2><%=t :new_course %></h2>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <section class="pr_dash">
    <%= render 'form' %>
    <%= link_to 'Back', courses_path %>
  </section>
</div>