/*
 *= require bootstrap
 *= require token-input
 */


body {
  padding-top: 50px;
}

a {
  color: #2F5471;
}

.container .content{
  min-height: 490px;
}
.new-lesson {
  color: #333;
  
  &:hover {
    color: #333;
  }
}

ul {
  list-style:none;
}

header {
  .gravatar {
    margin-top: 7px;
    border: 2px solid black;
  }
  .alpha-signin {
    padding-top: 14px;
  }
}
.notebook {
  border: 1px solid #EEE;
  padding: 10px;
  background: whiteSmoke;
  margin-top: 5px;
  margin-left: 0px;
  
  .new-lesson {
    margin-left: 20px;
  }
  .notebook-date, .notebook-lecturer, .edit-notebook {
    clear: both;
  }
  
  .edit-notebook, .delete-notebook {
    float: left;
  }
}

.notebook .notebook-name {
  float: left;
  margin: 0px;
  
  a {
    font: 22px tahoma;
    color: #2F5471;
    text-decoration: none;
  }
}

.lesson, .friend {
  border: 1px solid whiteSmoke;
  background: #eee;
  padding: 10px;
}
label {
  float: none;
}

#home-wrapper #cycle {
  margin: 0px auto;
  width: 750px;
}

#home-wrapper .paragraph img.image {
  width: 400px;
  border: 1px solid #efefef;
  border-radius: 6px;
  float: left
}

#home-wrapper .paragraph div.text {
  float: left;
  font: 36px "Love Ya Like A Sister";
  margin: 5px 20px;
  width: 300px;
}

h1.notebook-name {
  font: 22px tahoma;
  margin: 0px;
}

h2.lesson-list {
  font-size: 22px;
  margin: 0px;
}

h1.edit-header {
  font: 24px tahoma;
  margin: 0px;
}

.edit_lesson, .new_lesson {
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  float: left;
  margin: 10px 15px 5px 0px;
  padding: 11px;
  min-height: 270px;
  position: relative;
}

.notebook .notebook-date span, .notebook .notebook-lecturer span, 
.notebook .recent-lessons span.lessons-title {
  font-weight: bold;
}

.text-after, .draw-after {
  margin: 10px 0px;
}

/* Editor */
.editor-buttons {
  padding-bottom: 10px;
}
.edit-buttons {
  background: #fff;
  font: 25px "Love Ya Like A Sister";
  padding: 0 5px;
  margin-right: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  border: 1px solid black;
  cursor: pointer;
  height: 36px !important;
  width: 36px !important;
  border-radius: 4px;
}

.edit-buttons:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}

.editor-buttons #bold {
  font-weight: bold;
}

.editor-buttons #italic {
  font-style: italic;
}

.editor-buttons #underline {
  text-decoration: underline;
}

.editor-buttons input#hilitecolor[attribute="yellow"] {
  background: #fff url(images/hilite_yellow.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.editor-buttons input#hilitecolor[attribute="#659b41"] {
  background: #fff url(images/hilite_green.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.editor-buttons input#insertunorderedlist {
  background: #fff url(images/list.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.editor-buttons input#insertorderedlist {
  background: #fff url(images/num_list.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.dtools {
	float: left;
	position: absolute;
	top: 1px;
	left: 1px;
	margin: 0px 15%;
}

.dtool {
  width: 36px;
  height: 36px;
  color: #fff;
  float: left;
  cursor: pointer;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  border-radius: 4px;
  margin-right: 10px;
}

.dtool:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #333;
  box-shadow: 0px 0px 0px 0px #333;
}

.dtools #line {
  background: #fff url(images/line-tool.png) no-repeat 50% 50%;
}

.dtools #rect {
  background: #fff url(images/rect-tool.png) no-repeat 50% 50%;
}

.dtools #pencil {
  background: #fff url(images/pencil-tool.png) no-repeat 50% 50%;
}

.dtools #circle {
  background: #fff url(images/circle-tool.png) no-repeat 50% 50%;
}

.dtools #clear {
  background: #fff url(images/clear-tool.png) no-repeat 50% 50%;
}


/* canvas */
.canvas-container { position: relative; }
.imageView { border: 1px solid #000; margin: 0px 15%; }
.imageTemp { position: absolute; top: 1px; left: 1px; margin: 0px 15%; }


#write {
  border: both;
  float: left;
  width: 60%;
}

#write #copy-image {
  float: right;
  margin-top: -20px;
  background: transparent url(images/copy-tool.png) no-repeat 50% 50%;
  width: 56px;
  height: 36px;
}

#text-editor .text {
  border: 2px dashed grey;
  min-height: 150px;
  width: 100%;
  border-radius: 8px;
}

#draw {
  float: left;
  margin-left: 10px;
  position: relative;
}

#draw .colors {
  position: absolute;
  right: -48px;
}

#draw .colors .color {
  width: 32px;
  height: 32px;
}

#draw .colors #colorGreen {
  background: transparent url(images/green-tool.png) no-repeat 50% 50%;
}

#draw .colors #colorBlack {
  background: transparent url(images/black-tool.png) no-repeat 50% 50%;
}

#draw .colors #colorYellow {
  background: transparent url(images/yellow-tool.png) no-repeat 50% 50%;
} 

#draw .colors #colorBlue {
  background: transparent url(images/blue-tool.png) no-repeat 50% 50%;
}


#features .btn {
  min-width: 58px;
}

#permission {
  clear: both;
  float: left;
  margin: 10px;
  width: 100%;
}

#lesson_submit {
  clear: both;
  float: left;
  margin: 10px;
}


#profile .user-details #name {
  font-size: 16px;
}

.pull-resource {
  padding-top: 10px;
}

.resources{
  padding-top: 18px;
  
  .alert-message {
    margin-bottom: 10px;
    padding: 7px;
  }
  #resource-images {
    padding: 0px;
    margin: 0px;
    
    a {
      margin: 0px;
    }
    
    img {
      border: 1px solid #ddd;
    }
  }
}

.class-resources-image .resource-image {
  border: 2px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-left: 0px;
}

span.mini {
  font-size: 70%;
}

span.new {
  color: #339BB9;
}

#get-resource {
  width: 40px;
}

/* Footer */
footer {
  border-top: 1px solid #E3E3E3;
  background: #eee;
  
  .nav a {
    padding: 0px 10px 10px 0px;
  }
}

input.btn.primary {
  margin-top: 10px;
}

.clear-both {clear:both;}

/*
div.notice {
  background: none repeat scroll 0 0 #333333;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  height: 20px;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  right: 38%;
  top: 45px;
  z-index: 1000;
}*/


/*collapses with bootstrap*/
ul, ol {
  margin: 0px;
}
[class*="style-span"] {
  display: inline;
  float: none;
  margin-left: 0px;
}

.alert-message .btn {
  line-height: normal;
}