/*
 *= require token-input-facebook
 */

html {
  overflow-y:scroll;
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

body {
  padding: 0px;
  margin:0;
  font-family:'Lucida grande',arial,sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:18px;
  color:#575555;
}

a {
  color : #333333;
  text-decoration: none;
  &:hover { 
    color: #9D9D9D; 
  }
}

img {
  border: 0px none;
}

section.content {
  background: #f0f0f0 url(images/tile.jpg);
  float: left;
  width: 100%;
  min-height: 450px;
}

.topbar {
  height: 70px;
  background: #fbfbfb; /* Old browsers */
  background: -moz-linear-gradient(top, #fbfbfb 0%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbfbfb 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbfbfb 0%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbfbfb 0%,#ededed 100%); /* IE10+ */
  background: linear-gradient(top, #fbfbfb 0%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ededed',GradientType=0 );
  
  .bl_de {
    height: 10px;
    background: #464646;
  }
  .gr_de {
    height: 4px;
    background: #dedede;
  }
  
  .container {
    margin-top: 2px;
    
    #logo {
      float: left;
      
      img {
        height: 30px;
      }
    }
  
    .user_info {
      float: right;
      min-width: 430px;
      margin-top: 0px;
      
      &.user {
        min-width: 500px;
      }
      
      .logged_in {
        float: left;
        color: #AEAEAE;
        font-size: 12px;
        margin: 0 8px;
        line-height: 30px;
        a {
          color: #AEAEAE;
          &.noprofile {
            color: #F57C3D;
          }
        }
      }
      .user_name {
        img {
          width: 16px !important;
          margin: -3px 4px;
        }
        span {
          font-weight: bold;
        }
      }
      
      .user_logout {
        background: transparent url(images/icons.png) no-repeat;
        background-position: 7px -115px;
        border-radius: 3px 3px 3px 3px;
        height: 21px;
        padding: 3px;
        text-align: center;
        width: 80px;
        line-height: 20px;
        float: right;
        margin-top: 2px;
        a {
          color: #9d9d9d;
        }
      }
      
      .login-input-field {
        float: left;
        height: 28px;
        width: 164px;
        border: 0px none;
        border-radius: 4px;
        margin: 0px 4px;
        font-size: 14px;
      }
    
      .btn.signin {
        background: none repeat scroll 0 0 #86C246;
        border: 0 none;
        color: white;
        cursor: pointer;
        font-size: 13px;
        height: 29px;
        width: 82px;
      }
    
      .remember {
        clear: both;
      }
    }
    /*.user_info.user {
          width: 390px;
        }*/
    .user_menu {
      float: right;
      clear: both;
      width: 430px;
      
      ul {
        margin: 0px;
        padding: 0px 5px;
        float: left;
        li {
          float: right;
          margin: 0px 5px;
        }
      }
      
    }
  }
}
.container {
  max-width: 980px;
  margin: 0px auto;
}

/*Homepage*/
.tp_spl {
  background: transparent url(images/home_sp_bubbles.jpg) no-repeat 0px 0px;
  height: 337px;
  position: relative;
  
  .container {
    
    .tp_text {
      background: transparent url(images/home_spl.png) no-repeat 0px 0px;
      height: 360px;
      position: relative;
      top: -10px;
      
      #tp_text_spl {
        float: left;
        padding: 3%;
        width: 44%;
        #slogan {
          font-size: 18px;
          margin: -42px 26px;
          line-height: 56px;
          color: #F4702A;
        }
        #sunow {
          color: #0087AB;
          font-size: 26px;
          line-height: 34px;
          text-align: center;
        }
      }
      .home-signup-form {
        float: left;
        padding: 4% 6%;
        width: 38%;
        
        input#user_name, input#user_email, input#user_password {
          border: 0 none;
          border-radius: 4px;
          font-size: 17px;
          height: 34px;
          margin: 4px 0px;
          width: 333px;
        }
        #home-signup {
          background: #86C246;
          border: 0px none;
          border-radius: 10px;
          box-shadow: 3px 3px 3px gray;
          color: whiteSmoke;
          font-size: 22px;
          height: 40px;
          margin: 7px auto;
        }
      }
    }
  }
}
.home_main {
  background: #f0f0f0;
  min-height: 200px;
  border-top: 2px solid black;
  float: left;
  width: 100%;
  box-shadow: -3px 3px 10px #000000;
  .container {
    padding-top: 40px;
    .span3 {
      width: 302px;
      float: left;
      margin-right: 20px;
      
      .title{
        h2 { 
          margin: 0px 0px 10px;
        }
      }
      .title.first {
        border-bottom: 6px solid #e4152c;
      }
      .title.middle {
        border-bottom: 6px solid #f9c035;
      }
      .title.last {
        border-bottom: 6px solid #86c246;
      }
      
      .content {
        padding: 18px 0px 10px;
      }
      
    }
  }
}
.banner {
  background: transparent url(images/profile_banner.jpg) no-repeat 0px 0px;
  height: 30px;
  
  h2 {
    margin: 0px;
    color: white;
    font: 25px/25px Trebuchet MS;
  }
}

.footer {
  background: #16414d;
  float: left;
  width: 100%;
  .beautifier {
    box-shadow: 0 2px 3px #000000;
    height: 1px;
  }
  .container {
    .fo_sq {
      float: left;
      width: 225px;
      margin-right: 18px;
      min-height: 50px;
      color: #747373;
      margin-top: 4px;
      h3 {
        margin: 8px 0px;
        color: #bebdbd;
      }
    }
  }
}
.loading {
  background: #DDF4FB url(images/loading.gif) no-repeat 50% 50% !important;
  min-height: 40px;
}

#wiki-finder-results a {
  color: #0645AD;
}

.new-lesson {
  color: #333;
  
  &:hover {
    color: #333;
  }
}

ul {
  list-style:none;
}

.sidebar   {
   float: left;
   width: 23%;
   
   nav {
     
     ul {
       padding: 0px;
       
       li.side-links {
         border-bottom: 1px dotted #D0CFCF;
         margin-right: 20px;
         padding: 5px 16px;
         background: url(images/icons.png) no-repeat;
         background-position: 4px 7px;
       }
     }
   }
}
.sidebar.mini {
  float: left;
  width: 100px;
  
  .gravatar {
    img {
      width: 90px !important;
    }
  }
  .user-info, .prshr {
    max-width: 90px;
    font-size: 12px;
  }
}

.lessons_dash {
  float: left;
  width: 100%;
  
  .notebook {
    position: relative;
    margin-bottom: 26px;
    padding: 5px;
    
    .empty-lesson {
      
      a {
        background: none repeat scroll 0 0 #9BD240;
        border-radius: 4px 4px 4px 4px;
        color: white;
        padding: 3px 5px;
      }
    }
    .new-lesson {
      position: absolute;
      right: -12px;
      top: 2px;
      background: transparent url(images/add_lesson.png) no-repeat 0px 0px;
      font-size: 12px;
      text-transform: uppercase;
      height: 50px;
      padding: 20px 6px;
      width: 85px;
      color: white;

      &:hover {
        color: antiqueWhite;
      }
    }
    .notebook-name {
      font: 26px tahoma;
    }
    .lesson {
      clear: both;
      float: left;
      width: 100%;
      border-bottom: 1px solid #D0CFCF;
      margin-bottom: 15px;
      padding-bottom: 5px;
      
      .lesson-title {
        margin: 8px 0px;
        font-size: 20px;
        padding: 0px 26px;
        background: transparent url(images/icons.png) no-repeat 0px -24px;
      }
      .lesson-date {
        padding: 0px 27px;
        font-size: 11px;
      }
      
      .tools {
        margin-left: 11px;
        .edit-lesson, .delete-lesson {
          
          a {
            background: #9D9D9D;
            border-radius: 2px;
            float: left;
            margin-left: 15px;
            padding: 5px 20px;
            color: white;
            
            &:hover { 
              background: white;
              color: #9d9d9d;
            }
          }
        }
      }
    }
  }

  .lesson-show {
    border-radius: 6px;
    border: 1px solid gray;
  }
  .user-menu {     
    a {
      background: #9D9D9D;
      border-radius: 2px 2px 2px 2px;
      float: left;
      margin: 7px;
      padding: 5px 20px;
      color: white;
      
      &:hover {
        color: #9d9d9d;
        background: white;
      }
    }
  }
}

.pr_dash {
  float: left;
  width: 100%;
  
  h2, h3 {
   text-shadow: 0 1px 0 white; 
  }
  
  .new-notebook{
    background: #9D9D9D;
    border-radius: 2px;
    float: left;
    margin: 7px 0px;
    padding: 5px 20px;
    color: white;
 
    &:hover { 
      color: #9d9d9d;
      background: white;
    }
  }
  
  #notebooks{
   
   .notebook {
     position: relative;
     margin: 10px;
     padding: 5px;
     border: 2px solid gray ;
     float: left;
     border-radius: 6px;
     /*box-shadow: 2px 2px 20px rgb(159, 212, 72);*/
     min-height: 200px;
     
     
     a:hover {
       color: white;
     }
     
     h3 {
       font-size: 30px;
       margin: 30px;
       text-shadow: 0 1px 0 gray;
       line-height: 30px;
     }
     
     .notebook-details {
       font-size: 12px;
       margin: 0px 34px 10px;
       position: absolute;
       bottom: 0px;
     }
     
     .notebook-details-index {
       margin: -10px 30px 10px;
     }
     
     .new-lesson {
       position: absolute;
       right: 0px;
       top: 2px;
       /*background: transparent url(images/add_lesson.png) no-repeat 0px 0px;*/
       font-size: 13px;
       font-weight: bold;
       text-transform: uppercase;
       height: 50px;
       padding: 20px 6px;
       width: auto;
       color: #9D9D9D;
       
       &:hover {
         color: black;
       }
     }
     
     .lessons-title {
       border-bottom: 1px dotted #a7a7a9;
       margin-bottom: 6px;
       padding: 10px 10px 4px;
       width: 86%;
       
       .no-lessons {
         background: #9bd240;
         padding: 4px;
         border-radius: 4px;
         color: white;
         line-height: 24px;
       }
     }
     .lessons {
       
       .lesson {
         border-bottom: 1px solid #d0cfcf;
         padding: 6px 32px;
         width: 80%;
         background: url(images/icons.png) no-repeat;
         background-position: 9px -18px;
       }
     }
     .edit-notebook, .delete-notebook {
       
       a {
         background: #9D9D9D;
         border-radius: 2px;
         float: left;
         margin: 7px;
         padding: 5px 20px;
         color: white;
         
         &:hover {
           background: white;
           color: #9d9d9d;
         }
       }
     }
   } 
  }
}

.notebooks.index #notebooks .notebook {
  width: 100%;
}

.users.show #notebooks .notebook {
  width: 28%;
  background: rgba(159, 212, 72, 0.1);
  box-shadow: 2px 7px 27px #9d9d9d;
  
  h3 {
    font-size: 15px;
    line-height: 20px;
    margin: 70px 30px 30px;
    
    a {
      &:hover {
        color: white;
      }
    }
  }
}

html.lessons.new, html.lessons.edit {
  overflow-y: hidden;
  
  .topbar {

    .container {
      max-width: 99%;
    }
  }
  
  section.content {
    position: absolute;
    top: 75px;
    bottom: 0px;
    
    #note-take, #lesson-helpers {
     overflow: auto;
     overflow-y: scroll;
     overflow-x: hidden;
    }
  }
  
}

#presentation-loader {
  z-index: 1000;
}

#note-take {
  width: 95%;
  position: absolute;
  left: 5%;
  bottom: 0px;
  background: #f0f0f0 url(images/tile.jpg);
  height: 100%;
  margin: 0px auto;
  z-index: 1;
  &.left {
    position: absolute;
    width: 65%;
    
    .field {
      width: 96%;
    }
  }
  .field {
    width: 97.5%;
  }
  
}

#lesson-helpers {
  float: right;
  width: 29.5%;
  position: absolute;
  right: 0px;
  height: 100%;
  bottom: 0px;
  top: 12px;
  display: none;
  &.open {
    display: block;
  }
}

#swiper {
  cursor: pointer;
  float: right;
  margin: -13px -25px;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  z-index: 2;
  padding: 7px;
  background: #A9D74D;
  border-radius: 6px 6px 0px 0px;
  color: white;
}

.edit-lesson, #new_lesson {
  
  .edit-title {
    width: 99%;
    height: 35px;
    border: 0px;
    margin: 5px;
    padding: 0px;
    font-size: 15px;
    border-radius: 4px;
  }
}

.all-user {
  width: 56%;
  li {
    float: left;
    margin: 8px;
    img {
      width: 40px;
    }
  }
  
}
.explain {
  clear: both;
  font-size: 11px;
}


.pull-resource::-webkit-scrollbar, #note-take::-webkit-scrollbar, #lesson-helpers::-webkit-scrollbar {
  width: 6px;
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(202, 202, 202, 0.07)),color-stop(100%,rgba(229, 229, 229, 0.07)));
  background: -webkit-linear-gradient(left,rgba(202, 202, 202, 0.07) 0%,rgba(229, 229, 229, 0.07) 100%);
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
  background-color: #E5E5E5;
  overflow: visible;
  border-radius: 0px;
  border: solid 1px #A6A6A6;
}

.pull-resource::-webkit-scrollbar-track, #note-take::-webkit-scrollbar-track, #lesson-helpers::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.pull-resource::-webkit-scrollbar-thumb, #note-take::-webkit-scrollbar-thumb, #lesson-helpers::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.side-menu {
  .resource {
    background: #A9D74D;
    padding: 3px;
    float: left;
    margin: 0px 4px;
    border-radius: 3px;
    color: black;
    
    &:hover {
      color: white;
    }
  }
}

#share-lesson-form {
  clear: both;
}

label {
  float: none;
}


h1 {
  font: 22px tahoma;
  margin: 0px;
}

h2.lesson-list {
  font-size: 22px;
  margin: 0px;
}

.edit_lesson, .new_lesson {
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  float: left;
  margin: 10px 15px 5px 0px;
  padding: 11px;
  min-height: 270px;
  position: relative;
}

.text-after, .draw-after {
  margin: 10px 0px;
}

/* Editor */
.editor-buttons {
  padding-bottom: 10px;
}

.edit-buttons {
  background: transparent;
  padding: 0 5px;
  margin-right: 5px;
  border: 0px none;
  cursor: pointer;
  height: 24px !important;
  width: 20px !important;
  text-indent: -9999px;
   border: 0px solid black;
  &:hover {
    border-bottom: 1px solid gray;
  }
  &#bold {
    background: transparent url(images/lesson_edits.png) no-repeat -181px 0px;
  }
  &#italic {
    background: transparent url(images/lesson_edits.png) no-repeat -211px 0px;
  }
  
  &#underline {
    background: transparent url(images/lesson_edits.png) no-repeat -238px 2px;
  }
  
  &#hilitecolor[attribute="yellow"] {
    background: transparent url(images/lesson_edits.png) no-repeat -105px -40px;
  }
  
  &#hilitecolor[attribute="#659b41"] {
    background: transparent url(images/lesson_edits.png) no-repeat -139px -40px;
  }
  
  &#insertunorderedlist {
    background: transparent url(images/lesson_edits.png) no-repeat -175px -38px;
  }
  
  &#insertorderedlist {
    background: transparent url(images/lesson_edits.png) no-repeat -214px -37px;
  }
}


.dtools {
  float: left;
  position: absolute;
  top: 1px;
  left: 1px;
  
  .dtool {
    width: 24px;
    height: 24px;
    color: #fff;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    border: 0px none;
    text-indent: -9999px;
    
    &:hover {
      border-bottom: 1px solid gray;
    }
    &#text {
      background: transparent url(images/lesson_edits.png) no-repeat -141px 0px;
    }
    &#pencil {
      background: transparent url(images/lesson_edits.png) no-repeat -36px 0px;
    }
    &#line {
      background: transparent url(images/lesson_edits.png) no-repeat -246px -33px;
    }
    &#rect {
      background: transparent url(images/lesson_edits.png) no-repeat 0px 0px;
    }
    &#circle {
      background: transparent url(images/lesson_edits.png) no-repeat -73px 0px;
    }
    &#clear {
      background: transparent url(images/lesson_edits.png) no-repeat -106px 0px;
    }
	}
}


/* canvas */
.canvas-container {
  margin-top: 10px;
  position: relative; 
  
  /*.remove-object {
    position: absolute;
    right: 0px;
    top: -16px;
  }*/
}
.imageView { 
  background: white;
}
.imageTemp { 
  position: absolute; 
  top: 0px; 
  left: 0px;
}

#write {
  border: both;
  float: left;
  width: 60%;
  
  #copy-image {
    float: right;
    margin-top: -20px;
    background: transparent url(images/copy-tool.png) no-repeat 50% 50%;
    width: 56px;
    height: 36px;
  }
}

#text-editor.minified {
  width: 586px;
  opacity: 0.4;
}

#text-editor {

  .add {
    margin: 8px 4px;
    float: left;
    background: #9D9D9D;
    padding: 4px 4px;
    border-radius: 3px;
    cursor: pointer;
    
    &:hover {
      color: white;
    }
  }
  .add.remove-object {
    background: transparent;
    font: bold 27px Comic Sans MS;
    color: #B6B6B6;
    margin: 2px 30px;
    padding: 0px;
    
    &:hover {
      color: #b6b6b6;
    }
  }
  .field-container {
    min-height: 150px;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    
    .text {
      background: white;
      min-height: 150px;
      padding: 6px;
      word-wrap: break-word;
      border-radius: 4px;
      
      a {
        color: #00438a;
      }
      ul {
        list-style:initial;
      }
    }
  }
}
.graph-form{
  
  select {
    margin: 10px;
  }
  label {
    float: left;
    width: 85px;
    margin: 8px 0px;
  }
  input {
   width: 230px;
   height: 22px;
   margin: 3px 0px;
  }
  .graphus {
    background: #9d9d9d;
    float: left;
    clear: both;
    padding: 3px;
    margin: 3px 0px;
    border-radius: 3px;
    cursor: pointer;
  }
}
.SavedText ul {
  list-style: initial;
}
#draw {
  float: left;
  margin-left: 10px;
  position: relative;
  
  .colors {
    position: absolute;
    right: -48px;
    
    .color {
      width: 32px;
      height: 32px;
    }
    
    #colorGreen {
      background: transparent url(images/green-tool.png) no-repeat 50% 50%;
    }
    
    #colorBlack {
      background: transparent url(images/black-tool.png) no-repeat 50% 50%;
    }
    
    #colorYellow {
      background: transparent url(images/yellow-tool.png) no-repeat 50% 50%;
    }
    
    #colorBlue {
      background: transparent url(images/blue-tool.png) no-repeat 50% 50%;
    }
  }
}
 
.graph-wrapper {
  min-height: 100px;
  clear: both;
  
  .graph-remove {
    float: right;
    clear: both;
    margin: 0px 90px;
    font: bold 22px Comic Sans MS;
    color: #B6B6B6;
    cursor: pointer;
  }
}

.explain-graph {
  font-size: 10px;
  font-weight: bold;
}

.field-submit {
  clear: both;
}
#lesson_submit {
  clear: both;
  /*float: left;*/
  margin: 10px 0px;
}


#profile .user-details #name {
  font-size: 16px;
}

#side-resources {
  /*width: 404px;
    top: 248px;
    position: fixed;
    right: 20px;*/
  height: 100%;
  display: none;
  z-index: 101;
  margin-top: 34px;
  
  ul.token-input-list-facebook {
    width: 316px;
    margin-right: 0px;
  }
}

div.token-input-dropdown-facebook {
  width: 316px;
  z-index: 101;
}

#wiki-find-form {
  /*position: fixed;
    right: 25px;
    padding: 7px;
    width: 280px;*/
  z-index: 100;
  /*top: 264px;*/
  
  input#wiki-term-input {
    height: 30px;
    width: 215px;
    background: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
  }
  a#wiki-submit {
    background: white;
    margin: -4px;
    padding: 6px 5px 7px;
  }
}

.presentation-embed {
  padding-top: 0px;
  
  .alert-message {
    margin-bottom: 10px;
    padding: 7px;
  }
  #resource-images {
    padding: 0px;
    margin: 0px;
    
    a {
      margin: 0px;
    }
    
    img {
      border: 1px solid #ddd;
    }
  }
}

.class-resources-image {
  clear: both;
  .resource-image {
    border: 2px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: 0px;
    float: left;
  }
  .text-after {
    clear: left;
  }
}

span.mini {
  font-size: 70%;
}

span.new {
  color: #339BB9;
}

#get-resource {
  width: 40px;
}


.new_user, .edit_user, .new_notebook, .edit_notebook, .user_new {
  
  .field {
    padding: 10px;
    
    input {
      width: 400px;
      height: 28px;
      font-size: 18px;
      border: 0px none;
      border-radius: 3px;
      
      &#user_remember_me {
        width: auto;
      }
      &[type="radio"] {
        height: auto;
        width: auto;
      }
    }
  }
  .save {
    padding: 10px;
    .primary {
      background: #86C246;
      border: 0px none;
      color: white;
      cursor: pointer;
      font-size: 13px;
      height: 29px;
      min-width: 100px;
    }
  }
}
p.gravatar {
  padding: 10px;
}

.clear-both {clear:both;}

/*Taken from bootstrap css*/

.close{float:right;color:#000000;font-size:20px;font-weight:bold;line-height:13.5px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=20);-khtml-opacity:0.2;-moz-opacity:0.2;opacity:0.2;}.close:hover{color:#000000;text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.alert-message, .side-message {position:relative;padding:7px 15px;margin:0px auto 18px;color:#404040;background-color:#eedc94;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));background-image:-moz-linear-gradient(top, #fceec1, #eedc94);background-image:-ms-linear-gradient(top, #fceec1, #eedc94);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));background-image:-webkit-linear-gradient(top, #fceec1, #eedc94);background-image:-o-linear-gradient(top, #fceec1, #eedc94);background-image:linear-gradient(top, #fceec1, #eedc94);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#eedc94 #eedc94 #e4c652;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);border-width:1px;border-style:solid;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);}.alert-message .close{*margin-top:3px;}
.alert-message {width: 960px;}
.alert-message h5{line-height:18px;}
.alert-message p{margin-bottom:0;}
.alert-message div, .side-message div {margin-top:5px;margin-bottom:2px;}
.alert-message .btn{-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);}
.alert-message.block-message, .side-message.block-message{background-image:none;background-color:#fdf5d9;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);padding:14px;border-color:#fceec1;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}.alert-message.block-message ul,.alert-message.block-message p{margin-right:30px;}
.alert-message.block-message ul{margin-bottom:0;}
.alert-message.block-message li{color:#404040;}
.alert-message.block-message .alert-actions{margin-top:5px;}
.alert-message.block-message.error,.alert-message.block-message.success,.alert-message.block-message.info{color:#404040;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.alert-message.block-message.error{background-color:#fddfde;border-color:#fbc7c6;}
.alert-message.block-message.success{background-color:#d1eed1;border-color:#bfe7bf;}
.alert-message.block-message.info, .side-message.block-message.info {background-color:transparent;border-color:black;}
.label{padding:1px 3px 2px;background-color:#bfbfbf;font-size:10.75px;font-weight:bold;color:#ffffff;white-space:nowrap;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}.label.important{background-color:#c43c35;}

#fetch-resource, #upload-resource, #photocopy {
  background: none repeat scroll 0 0 #D9D9D9;
  border-radius: 4px 4px 4px 4px;
  padding: 3px 5px;
  
  &:hover {
    color: white;
  }
}

#sharing-info {
  font-weight: bold;
  
  span {
    text-decoration: underline;
  }
}

#upload-class_resource {
  .new {
    #new {
      color: red;
    }
    #note {
      font-size: 11.5px;
    }
  }
}


.tooltip {
  position: absolute;
	opacity:0.8;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px 8px;
	max-width:200px;
	color:#fff;
	background-color:#000;
	margin-bottom: 6px;

}
.tooltip .tooltip-inner {
	font:bold 11px/14px 'Lucida Grande',sans-serif;
}


.tooltip .tooltip-arrow{
  position: absolute;
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(images/tip-twitter_arrows.gif) no-repeat -18px 0;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  padding: 5px;
  &.top    { margin-top:  -5px; }
  &.right  { margin-left:  5px; }
  &.bottom { margin-top:   5px; }
  &.left   { margin-left: -5px; }
  /*&.top .arrow    { #popoverArrow > .top(); }
    &.right .arrow  { #popoverArrow > .right(); }
    &.bottom .arrow { #popoverArrow > .bottom(); }
    &.left .arrow   { #popoverArrow > .left();  }*/
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
}
.popover-inner {
  padding: 3px;
  max-width: 280px;
  min-width: 160px;
  overflow: hidden;
  background: #333; // has to be full background declaration for IE fallback
  background: rgba(0,0,0,.4);
  border-radius: 6px;
  box-shadow:0 3px 7px rgba(0,0,0,0.9);
}
.popover-title {
  padding: 9px 15px;
  line-height: 1;
  background-color: #f5f5f5;
  border-bottom:1px solid #eee;
  margin: 3px 0px;
}
.popover-content {
  padding: 14px;
  background-color: white;
  
  p, ul, ol {
    margin-bottom: 0;
  }
}

#nontbks {
  .add_new {
    background: none repeat scroll 0 0 #9D9D9D;
    border-radius: 2px;
    margin: 7px 0px;
    padding: 3px 5px;
    
    &:hover {
      color: white;
    }
  }
}

.small {
  padding: 5px 0px;
  font-size: 12px;
}

.profile-settings {
  background: #86C246;
  border-radius: 6px 6px 6px 6px;
  color: white;
  cursor: pointer;
  padding: 7px;
  margin: 10px 0px;
  &.inactive {
    background: #9d9d9d;
  }
}
.basic .field { 
  display: none;
}

body.he {
  direction: rtl;
  
  .topbar .container #logo {
    float: right;
  }
  
  .topbar .container .user_info {
    float: left;
  }
  
  .topbar .container .user_info .logged_in {
    float: right;
  }
  .sidebar, .pr_dash, .lessons_dash {
    float: right;
  }
  
  .lessons_dash .notebook .new-lesson {
    right: auto;
    left: -12px;
    padding: 20px 0px;
  }
  
  .pr_dash #notebooks .notebook .new-lesson {
    left: 0px;
    right: auto;
  }
  .pr_dash #notebooks .notebook {
    float: right;
  }
  
  .side-menu {
    float: right;
  }
  
  #wiki-find-form {
    
  }
  #side-resources {
    left: 20px;
  }
  
  #lesson-helpers {
    left: 0px;
    right: auto;
  }
}