body { 
  background-color: #fff; 
  color: #333;
  padding: 0px;
  margin: 0px;
}

body, p, ol, ul, td {
  font-family: tahoma, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
/*a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/*
 * My stylings 
 * 
 */


header {
  background: #2d2d2d;
  height: 30px;
  -webkit-box-shadow:1px 1px 1px #dbdbdb;
  box-shadow:1px 1px 1px #dbdbdb;
}

header #logo {
  float: left;
  padding: 2px 0px 0px 28px;
}

header #logo a#logo_url {
  text-decoration: none;
  font: 25px Trebuchet MS;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

header #logo span {
  color: #1DE1E1;
  font: 10px tahoma;
  position: relative;
  top: -14px;
}

header .top_nav  {
  float: right;
  margin: 12px 28px;
}

header .top_nav li {
  float: left;
  font: 13px tahoma;
  list-style: none inside none;
  padding: 0px 7px;
  color: #ccc;
}

header .top_nav li a {
  text-decoration: none;
  color: #ccc;
}

header .top_nav li a.top_user {
  color: #fff;
}


section#main {
  min-height: 500px;
  padding: 16px 28px;
  clear: both;
}

#home-wrapper #cycle {
  margin: 0px auto;
  width: 750px;
}

#home-wrapper .paragraph img.image {
  width: 400px;
  border: 1px solid #efefef;
  border-radius: 6px;
  float: left
}

#home-wrapper .paragraph div.text {
  float: left;
  font: 36px "Love Ya Like A Sister";
  margin: 5px 20px;
  width: 300px;
}

#my-notebooks, h1.notebook-name, h2.lesson-list {
  color: #524F50;
  font: 24px tahoma;
  text-decoration: none;
  width: 180px;
  float: left;
  margin: 0px;
  clear: both;
}

h1.notebook-name {
  font: 15px tahoma;
  margin: 0px;
}

h1.notebook-name, h2.lesson-list {
  width: 100%;
}

h2.lesson-list {
  font-size: 22px;
  margin: 0px;
}

h1.edit-header {
  font: 24px tahoma;
  margin: 0px;
}

.new-notebook {
  float: right;
  margin-right: 28px;
}

.new-notebook a {
  float: left;
  font: 1px tahoma;
  color: #fff;
  background: transparent url(images/g_notepad-add.png) no-repeat 0px 0px;
  width: 32px;
  height: 32px;
  margin-top: 0px;
}

.new-notebook a:hover {
  background: transparent url(images/notepad-add.png) no-repeat 0px 0px;
}

.notebook, .recent-notebook {
  border-radius: 6px;
  float: left;
  margin: 10px 15px 5px 0px;
  padding: 11px;
  width: 30%;
  background: #f5f5f5 url(images/notebook-spiral.png) repeat-y 0% 0%; 
  /*background: #f5f5f5;*/
  line-height: 25px;
  min-height: 270px;
  position: relative;
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
}

.recent-notebook {
  width: 70%;
  min-height: 32px;
  background-image: none;
} 

.notebook-wide {
  width:98%;
  border-radius: 6px;
  -webkit-box-shadow:1px 1px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  float: left;
  margin: 10px 15px 5px 0px;
  padding: 11px;
  background: #f5f5f5 url(images/notebook-spiral.png) repeat-y 0% 0%;
  line-height: 25px;
  min-height: 270px;
  position: relative;
}

.edit_lesson, .new_lesson {
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  float: left;
  margin: 10px 15px 5px 0px;
  padding: 11px;
  background: #f5f5f5;
  min-height: 270px;
  position: relative;
  width: 98%;
}

.notebook div{
  margin:5px 0px 0px 40px;
}

.notebook .notebook-name a {
  font: 22px tahoma;
  color: #2F5471;
  text-decoration: none;
}

.notebook .delete-notebook a {
  font: 1px tahoma;
  color: #f5f5f5;
  text-decoration: none;
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 32px;
  height: 32px;
  background: transparent url(images/g_notepad-del.png) no-repeat 0px 0px;
}

.notebook .delete-notebook a:hover {
  background: transparent url(images/notepad-del.png) no-repeat 0px 0px;
}

.notebook .edit-notebook a {
  bottom: 4px;
  color: #f5f5f5;
  text-decoration: none;
  font: 1px tahoma;
  position: absolute;
  left: 47px;
  text-decoration: none;
  background: transparent url(images/g_notepad-edit.png) no-repeat 0px 0px;
  width: 32px;
  height: 32px;
}

.notebook .edit-notebook a:hover {
  background: transparent url(images/notepad-edit.png) no-repeat 0px 0px;
}

.notebook .notebook-date span, .notebook .notebook-lecturer span, 
.notebook .recent-lessons span.lessons-title {
  font-weight: bold;
}

.notebook .recent-lessons li.recent-lesson {
  font: normal 11px tahoma;
}

.notebook-wide .lesson {
  margin: 5px 20px 5px 50px;
  padding:10px 20px;
  border-bottom: 1px solid black;
  width:90%;
  float: left;
}

.notebook-wide .empty-lesson {
  margin: 5px 20px 5px 50px;
  padding:10px 20px;
  width:90%;
  float: left;
}


.notebook-wide .lesson-title a {
  float: left;
  margin-right: 18px;
  font: 26px tahoma;
  text-decoration: none;
  color: #2F5471;
}

.notebook-wide .lesson .lesson-date {
  font-size: 10px;
  float: left;
  margin-top: 10px;
}

.notebook-wide .lesson .lesson-date span {
  font-weight: bold;
}

.notebook-wide .lesson .edit-lesson a {
  float: right;
  background: transparent url(images/g_lesson_edit.png) no-repeat 0px 0px;
  font-size: 1px;
  color: #f5f5f5;
  width: 32px;
  height:32px;
}

.notebook-wide .lesson .edit-lesson a:hover {
  background: transparent url(images/lesson_edit.png) no-repeat 0px 0px;
}

.notebook-wide .lesson .delete-lesson a {
  float: right;
  background: transparent url(images/g_lesson_delete.png) no-repeat 0px 0px;
  font-size: 1px;
  color: #f5f5f5;
  width: 32px;
  height:32px;
  margin-right: 20px;
}

.notebook-wide .lesson .delete-lesson a:hover {
  background: transparent url(images/lesson_delete.png) no-repeat 0px 0px;
}

.lesson-show-wrapper {
  background: #ededed;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  padding: 2px 10px;
}

.lesson-show-wrapper .lesson-image .show-image {
  cursor: pointer;
  font-size: 10px;
  color: DarkGray;
}

.lesson-show-wrapper .lesson-image .show-image:hover {
  color: black;
}

.lesson-show-wrapper .lesson-image .attached-image {
  margin: 0px auto;
  display: none;
}



/* Editor */

.edit-buttons {
  background: #fff;
  font: 25px "Love Ya Like A Sister";
  padding: 0 5px;
  margin-right: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  border: 1px solid black;
  cursor: pointer;
  height: 36px;
  width: 36px;
  border-radius: 4px;
}

.edit-buttons:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}

.editor-buttons #bold {
  font-weight: bold;
}

.editor-buttons #italic {
  font-style: italic;
}

.editor-buttons #underline {
  text-decoration: underline;
}

.editor-buttons input#hilitecolor[attribute="yellow"] {
  background: #fff url(images/hilite_yellow.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.editor-buttons input#hilitecolor[attribute="#659b41"] {
  background: #fff url(images/hilite_green.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.editor-buttons input#insertunorderedlist {
  background: #fff url(images/list.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.editor-buttons input#insertorderedlist {
  background: #fff url(images/num_list.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.dtools {
	height: 50px;
	width: 100%;
}

.dtool {
  width: 36px;
  height: 36px;
  color: #fff;
  float: left;
  cursor: pointer;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  border-radius: 4px;
  margin-right: 10px;
}

.dtool:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #333;
  box-shadow: 0px 0px 0px 0px #333;
}

.dtools #line {
  background: #fff url(images/line-tool.png) no-repeat 50% 50%;
}

.dtools #rect {
  background: #fff url(images/rect-tool.png) no-repeat 50% 50%;
}

.dtools #pencil {
  background: #fff url(images/pencil-tool.png) no-repeat 50% 50%;
}

.dtools #circle {
  background: #fff url(images/circle-tool.png) no-repeat 50% 50%;
}

.dtools #clear {
  background: #fff url(images/clear-tool.png) no-repeat 50% 50%;
}


/* canvas */
.canvas-container { position: relative; }
.imageView { border: 1px solid #000; }
.imageTemp { position: absolute; top: 1px; left: 1px; }


#write {
  border: both;
  float: left;
  width: 60%;
}

#write #copy-image {
  float: right;
  margin-top: -20px;
  background: transparent url(images/copy-tool.png) no-repeat 50% 50%;
  width: 56px;
  height: 36px;
}

.text {
  border: 3px dashed grey;
  min-height: 300px;
}

#draw {
  float: left;
  margin-left: 10px;
  position: relative;
}

#draw .colors {
  position: absolute;
  right: -48px;
}

#draw .colors .color {
  width: 32px;
  height: 32px;
}

#draw .colors #colorGreen {
  background: transparent url(images/green-tool.png) no-repeat 50% 50%;
}

#draw .colors #colorBlack {
  background: transparent url(images/black-tool.png) no-repeat 50% 50%;
}

#draw .colors #colorYellow {
  background: transparent url(images/yellow-tool.png) no-repeat 50% 50%;
} 

#draw .colors #colorBlue {
  background: transparent url(images/blue-tool.png) no-repeat 50% 50%;
}

#calc {
  float: left;
  margin-left: 20px;
}

#calc #calculator .calc-title-bar {
  display: none;
}

#calc #calculator {
  border: 1px solid black;
  border-radius: 4px;
}

#features {
  position: absolute;
  top: 10px;
  right: 40px;
}

#features .buttons {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  height: 36px;
  padding: 0px 5px;
  margin: 5px;
  line-height: 36px;
  float: left;
}

#permission {
  clear: both;
  float: left;
  margin: 10px;
  width: 100%;
}

#lesson_submit {
  clear: both;
  float: left;
  margin: 10px;
}

#profile {
  background: #f5f5f5;
  border: 1px solid black;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 4px 1px #333;
  box-shadow: 1px 1px 4px 1px #333;
  min-height: 360px;
  padding: 20px;
  position: relative;
}

#profile .user-details {
  width: 190px;
  float: left;
}

#profile .user-details .edit-profile {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 16px;
}

#profile .user-details .edit-profile:hover {
  background: black;
}

#profile .user-details #name {
  font-size: 16px;
}

#profile .user-details .friendship {
  font-size: 10px;
}

#profile #notebooks {
  float: left;
  width: 78%;
  padding: 5px;
}

#profile #notebooks .title {
  font: 20px tahoma;
}

#profile #notebooks .recent-notebook a.lesson-title,
#profile #lessons .recent-lesson a {
  color: SteelBlue;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

#profile #notebooks .recent-notebook a.lesson-title:hover,
#profile #lessons .recent-lesson a:hover {
  color: #6374AB;
}

#profile #notebooks .recent-notebook a.new-lesson {
  color: #2D2D2D;
  font-size: 8px;
  line-height: 30px;
  opacity: 0.4;
}

#profile #notebooks .recent-notebook a.new-lesson:hover {
  opacity: 1;
}

/* Footer */
footer {
  border-top: 1px solid #E3E3E3;
  margin: 10px 28px;
  clear: both;
}

footer .bottom {
  text-align: center;
}

footer .bottom ul li {
  float: left;
  padding-left: 20px;
  list-style: none;
}

footer #copy {
  float: right;
}

.clear-both {clear:both;}

/*Tool tips*/

.tip-twitter {
	opacity:0.8;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:3px 5px;
	max-width:200px;
	color:#fff;
	background-color:#000;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-twitter .tip-inner {
	font:normal 11px/14px 'Lucida Grande',sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-twitter .tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(images/tip-twitter_arrows.gif) no-repeat;
}
.tip-twitter .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(images/tip-twitter_arrows.gif) no-repeat -9px 0;
}
.tip-twitter .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(images/tip-twitter_arrows.gif) no-repeat -18px 0;
}
.tip-twitter .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(images/tip-twitter_arrows.gif) no-repeat -27px 0;
}

.notice {
  background: none repeat scroll 0 0 #333333;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  height: 20px;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  right: 38%;
  top: 45px;
  z-index: 1000;
}

