<footer>
  <nav class="bottom">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", "http://studyers.wordpress.com" %></li>
    </ul>
  </nav>
  <div id="copy"> Studyers &copy <%= Time.now.year %></div>
</footer>
