<footer class="footer">
  <div class="container">
    <nav class="bottom">
      <ul class="nav">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Blog", "http://studyers.wordpress.com" %></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="studyers">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
      </ul>
    </nav>
    <div id="copy" class="pull-right"> Studyers &copy <%= Time.now.year %></div>
  </div>
</footer>
